.dashboard {
  background: var(--dark-blue);
  color: var(--dark-grey);
}
.dashboard_container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  height: calc(100vh - 5rem);
}
.others {
  flex: 6;
  height: 100%;
  background: var(--light-grey);
  overflow-y: scroll;
  padding: 2rem;
}
